@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}

.toggle {
  display: flex;
  justify-content: center;
  width: 100%;
}
.toggle p {
  padding-inline: 2rem;
  padding-block: 0.5rem;
  cursor: pointer;
  border-bottom: 2px solid cadetblue;
  transition: all 0.2s ease;
  font-weight: 500;
  text-align: center;
}
.toggle p:hover {
  background-color: hsl(182, 25%, 75%);
}
.toggle p.active {
  background-color: hsl(182, 25%, 50%);
}

@media (max-width: 750px) {
  .toggle p {
    font-size: 0.8rem;
    padding-inline: 0.5rem;
  }
}
.scrollable {
  overflow: auto;
  height: 100%;
}

main {
  margin-top: 1rem;
  display: flex;
  height: 100%;
  width: max(100%, 1000px);
  overflow-y: hidden;
  margin-inline: auto;
}
main > div {
  height: 90%;
  width: 100%;
  display: flex;
}
main > div.center {
  grid-template-rows: repeat(8, 1fr);
  width: 20%;
}

main.cEvent .center {
  width: 40%;
}
main.cEvent .bracket div.person:first-of-type {
  bottom: 100%;
  translate: 0 50%;
}
main.cEvent .bracket div.person:last-of-type {
  top: 100%;
  translate: 0 -50%;
}

.column {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  align-content: space-evenly;
  align-items: center;
}

.bracket {
  height: 50%;
  width: 100%;
  border: 1px solid black;
  position: relative;
}
.bracket div.person {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translatex(-50%);
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
}
.bracket div.person:first-of-type {
  bottom: 100%;
  translate: 0 50%;
}
.bracket div.person:last-of-type {
  top: 100%;
  translate: 0 -50%;
}
.bracket div.person p {
  margin: 0;
}
.bracket div.person p:first-child {
  font-weight: 500;
}
.bracket div.person p:last-child:not(:first-child) {
  color: hsl(0, 0%, 25%);
}

.bracket.wA, .bracket.wB, .bracket.wC {
  border-bottom: 0;
}
.bracket.wA div.person, .bracket.wB div.person, .bracket.wC div.person {
  height: fit-content;
}

main .center div.person:first-of-type {
  translate: 0 0;
}
main .center div.person:last-of-type {
  translate: 0 -100%;
}

main .left .bracket {
  border-right: none;
}
main .left .column {
  translate: 0 var(--top);
}
main .right .bracket {
  border-left: none;
}
main table {
  margin-inline: auto;
  width: 70%;
  height: 35%;
  border-collapse: collapse;
  border-spacing: 0;
  padding-top: 2rem;
}
main table th, main table td {
  border: 1px solid black;
  padding: 0.2rem;
  text-align: center;
  font-weight: 500;
}
main table th.black {
  background-color: lightgrey;
}
main table td {
  background-color: white;
}
main table td.grey {
  font-weight: 400;
  color: hsl(0, 0%, 25%);
}

span {
  position: relative;
  left: 88%;
  top: 40%;
}
span.right {
  left: 2%;
}

div.roundRobin {
  display: flex;
  flex-direction: column;
}
div.roundRobin table.erg {
  margin-top: 5rem;
  margin-inline: auto;
  width: 40%;
  height: 35%;
  border-collapse: collapse;
  border-spacing: 0;
  padding-top: 2rem;
}
div.roundRobin table.erg th, div.roundRobin table.erg td {
  border: 1px solid black;
  padding: 0.2rem;
  text-align: center;
  font-weight: 500;
}
div.roundRobin table.erg th {
  background-color: lightgrey;
}
div.roundRobin table.erg td {
  background-color: white;
}

@media (max-width: 750px) {
  main table {
    margin-inline: 1rem;
  }
  div.roundRobin table.erg {
    margin-inline: 1rem;
  }
  span {
    position: relative;
    left: 80%;
    top: 40%;
  }
  span.right {
    left: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
